$phone: 576px !default;
$mobile: 768px !default;
$tablet: 992px !default;
$laptop: 1200px !default;
$desktop: 1600px !default;

@mixin breakpoint-up($point) {

	@media only screen and (min-width: $point) {
		@content;
	}
}

@mixin breakpoint-down($point) {
	@media only screen and (max-width: $point - 1) {
		@content;
	}
}